.home-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 2rem;
}
.t-shirt-container {
  background-color: white;
  margin-left: 1rem;
  /* tshirt component column */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.cart-container {
  background-color: aquamarine;
  margin-right: 1rem;

  /* for sticky the cart container */
  position: relative;
}

@media (max-width: 976px) {
  .home-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1.5rem;
  }
  .t-shirt-container {
    /* tshirt component column */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
  }
}
